<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="todoitem">TODO ITEM</label>
            <input type="text" 
            #todoitem class="form-control">
        </div>

        <button *ngIf="!isEditMode"
         class="btn-block"
        (click)="addTodo()" 
        mat-raised-button color="primary">ADD TODO</button>
        <button class="btn-block"
        (click)="updatetodo()"
        mat-raised-button color="primary" 
        *ngIf="isEditMode">UPDATE TODO</button>
    </div>
    <div class="col-md-6">
        <ul class="list-group" *ngIf="todoarr.length>0; else notodo">
            <li *ngFor="let todo of todoarr;"
            class="list-group-item d-flex justify-content-between align-items-center">
                <strong>{{todo.todoitem}}</strong>
                <div>
                    <button (click)="edittodo(todo)" mat-mini-fab color="primary" class="mr-3">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="deleteTodo(todo.id)"
                    mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </li>
        </ul>
        <ng-template #notodo>
            <div class="alert alert-primary mt-3" role="alert">
                No TODOs added yet.
            </div>

            </ng-template>

    </div>
</div>