.badge{
    line-height: 1.5;
    padding: 10px;
   
}
span[class^="badge-"]{
  padding: 10px;
   border-radius: 3px;
}
 figure{
    margin: 0;
    height: 250px;
    overflow: hidden;
    position: relative;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption{
    position: absolute;
    left:0;
    width: 100%;
    top:30%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
    opacity: 0;
    transform: translateY(120%);
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    scrollbar-width: none;    
}
    .card :is(:hover,:focus,:active) .figcaption{
    transform: translateY(0%);
    opacity: 1;
}

.miviecard{
    height:350px;
	overflow:hidden;
	position:relative;
}
.miviecard img{
	 height:450px;
	 width:100%;
	object-fit:cover;
}

.titleinfo{
	 position:absolute;
	 left:0;
	bottom:0;
	background-color:black;
	width:100%;
	color:white;
	padding:15px;
	display:flex;
	align-items:center;
	justify-content:center;
}

h3{
	margin:0;
	
}
.card-header h2{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    text-transform: capitalize;
}

.overview{
	 position:absolute;
	 top:30%;
	 left:0;
	background:#fff;
	height:70%;
	transform:translate y(100%);
	opacity:0;
	transition:all .5s ease-in-out;
	padding:20px;
	width:100%;
}
.miviecard:is(:hover,:focus,:active) .overview{
		transform:translate (0%);
		opacity:0.8;

}





