<p>cards works!</p>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let cards of spaceMissions">
      
        <div class="card">
            <h5 class="card-title text-center">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
 </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of worldCuisines">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            </div>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of mountainRanges">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of famousAuthors">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of prehistoricAnimals">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of famousInventions">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of movieGenres">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of musicalGenres">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of techInnovations">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of famousRivers">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of ancientStructures">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of boardGames">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of musicalInstrumentsWorld">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of festivalsWorld">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of wondersOfNature">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  <div class="col-md-4 mb-4" *ngFor="let cards of spaceMissions">
      
        <div class="card">
                <h5 class="card-title">{{cards.title}}</h5>
            <div class="card-body">
            <p class="card-text">{{cards.content}}</p>
            </div>
        </div>
  </div>
