<div class="container">

    <div class="row">
        <div class="col-md-4 my-4" *ngFor="let posts of post" trackById>
            <div class="card h-100">
                <div class="card-header">
                    <h2>{{posts.title}}</h2>
                </div>
                <div class="card-body">
                    <p>{{posts.body}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-raised-button color="primary">edit</button>
                    <button mat-raised-button color="warn">delete</button>

                </div>

            </div>
        </div>
    </div>

    <div class="col-12 " *ngFor="let mobile of mobileProducts" trackById>
        <div class="card mb-5">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <img-container class="">
                            <img class="img-fluid" [src]="mobile.image" class="img-fluid" alt="{{mobile.name}}"
                                *ngIf="mobile.image; else noimg">

                        </img-container>
                        <ng-template #noimg>
                            <img src="https://placehold.co/600x400" alt="">
                        </ng-template>

                    </div>
                    <div class="col-md-7">
                        <h2>{{mobile.name}}
                            <span class="p-2 text-center" [ngClass]="{
                        'badge badge-success': mobile.rating > 4,
                        'badge badge-warning': mobile.rating <= 4 && mobile.rating > 2,
                        'badge badge-danger': mobile.rating <= 2
                      }">
                                {{mobile.rating}}
                            </span>
                        </h2>
                        <h5 class="text-muted">features:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-none" *ngFor="let feature of mobile.features">
                                {{feature}}
                            </li>
                        </ul>


                    </div>
                    <div class="col-md-2">
                        <h4>Price: {{mobile.price | currency:'INR'}}
                            <small>
                                <del>
                                    {{mobile.price | currency:'INR'}}
                                </del>
                            </small>
                        </h4>
                        <strong class="text-danger" *ngIf="mobile.noOfItems < 10">
                            Only {{mobile.noOfItems}} left in stock!
                        </strong>


                    </div>
                </div>


            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let movie of movieArray" trackById>
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-item-center">
                    <h2>{{movie.original_title||movie.title}}</h2>
                    <span [ngClass]="
        {'badge badge-success': movie.vote_average>=7,
        'badge badge-warning': movie.vote_average>=4 && movie.vote_average<=6.9,
        'badge badge-danger': movie.vote_average<4
        }">{{movie.vote_average}}</span>

                </div>
                <div class="card-body p-0">

                    <figure class="h-100">
                        <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="img-fluid"
                            alt="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
                        <figcaption class="figcaption">
                            <p class="text-white">
                                {{movie.overview}}
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="card-footer d-flex justify-content-between align-item-center">
                    <button mat-raised-button color="primary">edit</button>
                    <button mat-raised-button color="warn">delete</button>

                </div>
            </div>
        </div>
    </div>


</div>